* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--main-font-color);
}

:root {
  --main-font-color: #252E4D;
  --font-color-2: #72788B;
  --main-bg-color: #ECF1F6;
  --box-bg-color: #FFFEFE;
}

body {
  background-color: var(--main-bg-color);
  border: 1px solid red;
}

.title {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

img {
  width: 10%;
  min-width: 100px;
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.us-discovery {
  border-radius: 10px;
  background-color: var(--box-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding: 40px;
}

h3 {
  padding-bottom: 15px;
}

.us-discovery-desc {
  line-height: 20px;
}

p {
  color: var(--font-color-2);
}

.us-discovery-price, 
.world-explorer-price {
  border-radius: 10px;
  background-color: var(--main-bg-color);
  font-size: 20px;
  padding: 15px;
  line-height: 30px;
}

.period {
  font-size: 14px;
  display: inline;
}

.world-explorer {
  border-radius: 10px;
  background-color: var(--box-bg-color);
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 30px auto;
  padding: 40px;
  position: relative;
}

.popular {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  background-color: #6C72FE;
  color: #E4E4FE;
  padding: 3px 15px;
  width: 20%;
  min-width: 150px;
  text-align: center;
  border-radius: 0 0 10px 0;
}

.note {
  text-align: center;
}

button {
  border: none;
  border-radius: 5px;
  padding: 20px 75px;
  background-color: #F0626B;
  color: #FDEFF1;
  display: block;
  margin: 20px auto;
}

.hidden {
  display: none;
}

@media screen and (max-width: 425px) {
  .title {
    padding: 0 10%;
    margin-bottom: 20px;
  }

  .us-discovery, 
  .world-explorer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
    margin: 10px auto;
    padding: 16px;
  }

  .us-discovery-desc, 
  .world-explorer-desc {
    margin-bottom: 15px;
    padding-top: 10px;
  }

  .us-discovery-price,
  .world-explorer-price {
    width: 100%;
  }

  .note {
    padding: 0 10%;
  }

}